<div class="sidebar_item <%= 'active' if location == current_location %>"
     onclick="window.location.href='<%= location_path(location.city) %>'">
    <h3><%= location.city %></h3>
    <p><%= location.longitude %></p>
    <p><%= location.latitude %></p>
</div>